// color variables
$robinEgg: #b6d9d9;
$softRed: #bf4051;
$codyBrown: #86472d;

$white: #fff;
$black: #000;

// breakpoints
$mobilePortrait: 'screen and (min-width: 480px)';
$mobileLandscape: 'screen and (min-width: 568px)';
$tabletPortrait: 'screem and (min-width: 768px)';
$tabletLandscape: 'screen and (min-width: 1024px)';
$smallDesktop: 'screen and (min-width: 1440px)';
$largeDesktop: 'screen and (min-width: 1680px)';

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;